adf-abnb-cdc-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-abnb-cdc-dev"
		},
		"ls_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls'"
		},
		"ls_cosmosDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_cosmosDB'"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsabnbcdcdev.dfs.core.windows.net/"
		},
		"ls_synSQLPoolDedicated_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "syn-abnb-analytics-dev.sql.azuresynapse.net"
		},
		"ls_synSQLPoolDedicated_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqlpool_booking_dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_cosmosDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('ls_cosmosDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_synSQLPoolDedicated')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('ls_synSQLPoolDedicated_properties_typeProperties_server')]",
					"database": "[parameters('ls_synSQLPoolDedicated_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cosmosDB_BookingDataSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_cosmosDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "bookings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_cosmosDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_customerDataArchive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customer-data-archive",
						"fileSystem": "airbnb"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cutomerDataSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customer-raw-data",
						"fileSystem": "airbnb"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_synapse_BookingFact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_synSQLPoolDedicated",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "booking_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "listing_id",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "booking_created_at",
						"type": "date"
					},
					{
						"name": "checkin_date",
						"type": "date"
					},
					{
						"name": "checkout_date",
						"type": "date"
					},
					{
						"name": "nights",
						"type": "int",
						"precision": 10
					},
					{
						"name": "lead_time_days",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guests_adults",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guests_children",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guests_infants",
						"type": "int",
						"precision": 10
					},
					{
						"name": "price_nightly",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "cleaning_fee",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "currency",
						"type": "nvarchar"
					},
					{
						"name": "country_code",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "channel",
						"type": "nvarchar"
					},
					{
						"name": "device_type",
						"type": "nvarchar"
					},
					{
						"name": "cancellation_ts",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cancellation_reason",
						"type": "nvarchar"
					},
					{
						"name": "updated_at",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "airbnb",
					"table": "fact_booking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_synSQLPoolDedicated')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_synapse_customerDim')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_synSQLPoolDedicated",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_name",
						"type": "nvarchar"
					},
					{
						"name": "last_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "address",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "nvarchar"
					},
					{
						"name": "signup_date",
						"type": "date"
					},
					{
						"name": "last_login",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "total_bookings",
						"type": "int",
						"precision": 10
					},
					{
						"name": "total_spent",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "preferred_language",
						"type": "nvarchar"
					},
					{
						"name": "referral_code",
						"type": "nvarchar"
					},
					{
						"name": "account_status",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "airbnb",
					"table": "dim_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_synSQLPoolDedicated')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_loadCustomerDim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_customerRawFilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_cutomerDataSource",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "fe_processEachCustomerFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_customerRawFilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_customerRawFilesMetaData').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "cp_customerDataToSynapse",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "customer-raw-data",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBehavior": "Upsert",
											"upsertSettings": {
												"keys": [
													"customer_id"
												],
												"interimSchemaName": ""
											},
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_cutomerDataSource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_synapse_customerDim",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "del_customerSourceFile",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "cp_customerDataInArchive",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_cutomerDataSource",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@item().name",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "cp_customerDataInArchive",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "cp_customerDataToSynapse",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "customer-raw-data",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_cutomerDataSource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_customerDataArchive",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cutomerDataSource')]",
				"[concat(variables('factoryId'), '/datasets/ds_synapse_customerDim')]",
				"[concat(variables('factoryId'), '/datasets/ds_customerDataArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_BookingTransformation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_cosmosDB_BookingDataSource",
								"type": "DatasetReference"
							},
							"name": "BookingSourceCosmosDB"
						},
						{
							"dataset": {
								"referenceName": "ds_synapse_BookingFact",
								"type": "DatasetReference"
							},
							"name": "SynapseBookingFactTarget"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_synapse_BookingFact",
								"type": "DatasetReference"
							},
							"name": "synapseBookingFactWrite"
						}
					],
					"transformations": [
						{
							"name": "DataQualityCheck"
						},
						{
							"name": "lookupForInsertUpdateFlag"
						},
						{
							"name": "GenerateInsertUpdateFlags"
						},
						{
							"name": "FinalColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          city as string,",
						"          channel as string,",
						"          nights as short,",
						"          checkout_date as date,",
						"          customer_id as short,",
						"          guests_adults as short,",
						"          listing_id as integer,",
						"          checkin_date as date,",
						"          booking_created_at as string,",
						"          device_type as string,",
						"          country_code as string,",
						"          cancellation_reason as string,",
						"          lead_time_days as short,",
						"          booking_id as string,",
						"          price_nightly as double,",
						"          guests_infants as boolean,",
						"          status as string,",
						"          guests_children as boolean,",
						"          currency as string,",
						"          total_amount as double,",
						"          updated_at as string,",
						"          cancellation_ts as string,",
						"          cleaning_fee as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableChangeFeed: true,",
						"     changeFeedStartFromTheBeginning: true,",
						"     format: 'document',",
						"     systemColumns: false) ~> BookingSourceCosmosDB",
						"source(output(",
						"          booking_id as string,",
						"          customer_id as integer,",
						"          listing_id as string,",
						"          status as string,",
						"          booking_created_at as date,",
						"          checkin_date as date,",
						"          checkout_date as date,",
						"          nights as integer,",
						"          lead_time_days as integer,",
						"          guests_adults as integer,",
						"          guests_children as integer,",
						"          guests_infants as integer,",
						"          price_nightly as decimal(12,2),",
						"          cleaning_fee as decimal(12,2),",
						"          total_amount as decimal(14,2),",
						"          currency as string,",
						"          country_code as string,",
						"          city as string,",
						"          channel as string,",
						"          device_type as string,",
						"          cancellation_ts as timestamp,",
						"          cancellation_reason as string,",
						"          updated_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     staged: true) ~> SynapseBookingFactTarget",
						"BookingSourceCosmosDB split(checkout_date < checkin_date,",
						"     disjoint: true) ~> DataQualityCheck@(BadRecords, AcceptedRecords)",
						"DataQualityCheck@AcceptedRecords, SynapseBookingFactTarget lookup(DataQualityCheck@AcceptedRecords@booking_id == SynapseBookingFactTarget@booking_id,",
						"     multiple: false,",
						"     pickup: 'first',",
						"     desc(SynapseBookingFactTarget@updated_at, true),",
						"     broadcast: 'auto')~> lookupForInsertUpdateFlag",
						"lookupForInsertUpdateFlag alterRow(insertIf(isNull(SynapseBookingFactTarget@booking_id)),",
						"     updateIf(not(isNull(SynapseBookingFactTarget@booking_id)))) ~> GenerateInsertUpdateFlags",
						"GenerateInsertUpdateFlags select(mapColumn(",
						"          city = DataQualityCheck@AcceptedRecords@city,",
						"          channel = DataQualityCheck@AcceptedRecords@channel,",
						"          nights = DataQualityCheck@AcceptedRecords@nights,",
						"          checkout_date = DataQualityCheck@AcceptedRecords@checkout_date,",
						"          customer_id = DataQualityCheck@AcceptedRecords@customer_id,",
						"          guests_adults = DataQualityCheck@AcceptedRecords@guests_adults,",
						"          listing_id = DataQualityCheck@AcceptedRecords@listing_id,",
						"          checkin_date = DataQualityCheck@AcceptedRecords@checkin_date,",
						"          booking_created_at = DataQualityCheck@AcceptedRecords@booking_created_at,",
						"          device_type = DataQualityCheck@AcceptedRecords@device_type,",
						"          country_code = DataQualityCheck@AcceptedRecords@country_code,",
						"          cancellation_reason = DataQualityCheck@AcceptedRecords@cancellation_reason,",
						"          lead_time_days = DataQualityCheck@AcceptedRecords@lead_time_days,",
						"          booking_id = DataQualityCheck@AcceptedRecords@booking_id,",
						"          price_nightly = DataQualityCheck@AcceptedRecords@price_nightly,",
						"          guests_infants = DataQualityCheck@AcceptedRecords@guests_infants,",
						"          status = DataQualityCheck@AcceptedRecords@status,",
						"          guests_children = DataQualityCheck@AcceptedRecords@guests_children,",
						"          currency = DataQualityCheck@AcceptedRecords@currency,",
						"          total_amount = DataQualityCheck@AcceptedRecords@total_amount,",
						"          updated_at = DataQualityCheck@AcceptedRecords@updated_at,",
						"          cancellation_ts = DataQualityCheck@AcceptedRecords@cancellation_ts,",
						"          cleaning_fee = DataQualityCheck@AcceptedRecords@cleaning_fee",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FinalColumns",
						"FinalColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          booking_id as string,",
						"          customer_id as integer,",
						"          listing_id as string,",
						"          status as string,",
						"          booking_created_at as date,",
						"          checkin_date as date,",
						"          checkout_date as date,",
						"          nights as integer,",
						"          lead_time_days as integer,",
						"          guests_adults as integer,",
						"          guests_children as integer,",
						"          guests_infants as integer,",
						"          price_nightly as decimal(12,2),",
						"          cleaning_fee as decimal(12,2),",
						"          total_amount as decimal(14,2),",
						"          currency as string,",
						"          country_code as string,",
						"          city as string,",
						"          channel as string,",
						"          device_type as string,",
						"          cancellation_ts as timestamp,",
						"          cancellation_reason as string,",
						"          updated_at as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['booking_id'],",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> synapseBookingFactWrite"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cosmosDB_BookingDataSource')]",
				"[concat(variables('factoryId'), '/datasets/ds_synapse_BookingFact')]"
			]
		}
	]
}